.bg-gray {
    background-color: lightgray;
}

@media screen and (min-width: 990px) {
    .learning {
        background-color: transparent;
    }
}


@media screen and (min-width: 991px) and (max-width: 2000px) {
    .learning {
        background-color: lightgray;
    }
}