* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: grid;
    margin: 0px 24px;
    height: 64px;
    grid-template-columns: repeat(2,1fr);  
    align-items: center;
}

.logo {
    display:flex;
    align-items: center;
}

.logo h2 {
    font-size: 32px;
}

.logo img {
    width: 45px;
    height: auto;
}

.nav-links{
    justify-self: end;
}

.nav-links li {
    display: inline;
    padding: 0 16px;
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.gray {
    color: gray;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    background-color: lightgray;
}

.left {
    margin: 32px 24px;
    align-self: start;
}

.left img {
    width: 100%;
    height: auto;
}

.left h2 {
    padding-top: 32px;
    padding-bottom: 24px;
    font-size: 2rem;
    color:rgb(59, 59, 59);
}

.left blockquote {
    line-height: 1.5;
}

.left p {
    padding-top: 40px;
}

.right-banner {
    align-self: center;
    font-size: 1.75rem;
    color:rgb(59, 59, 59);
    width: 70%;
}

.pad {
    padding: 20px 0;
    margin: 20px 0;
}

.start {
    background: rgb(59, 59, 59);
    color: white;
    width: 100%;
    font-size: 1.75rem;
}

.information {
    background-color: transparent;
}

.right-container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    line-height: 1.5;
}

.right-container a {
    text-decoration: none;
    color: lightskyblue;
}

.right-container p {
    font-size: 1rem;
    padding: 8px 0;
}

.right-container h3 {
    color:rgb(59, 59, 59);
    font-size: 1.75rem;
}